
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilebutton_11 */
#deal_info_mobilebutton_11 {

}
.ui-btn.deal_info_mobilebutton_11 {

}
/* mobilecontainer */
.ui-content.deal_info_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* spacer_21 */
.deal_info_spacer_21 {
	width: 260px; height: 88px;
	margin: 4px 0px 4px 0px;
}
/* mobileworkarea_18*/
.deal_info_mobileworkarea_18 {
	background-color: transparent;
	padding: 0px;
}
/* mobileimage_26 */
.deal_info_mobileimage_26 {
	margin: 40px 0px 40px 20px;
	width: 223px; height: 230px;
	display: block;
}
/* mobilelabel_27 */
.deal_info_mobilelabel_27 {
	text-decoration: none; font-weight: normal; font-style: italic; color: #d9c7c7; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_28 */
.deal_info_mobilelabel_28 {
	text-decoration: none; font-weight: normal; font-style: italic; color: #dbcece; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_29 */
.deal_info_mobilelabel_29 {
	text-decoration: none; font-weight: normal; font-style: italic; color: #dbd0d0; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_30 */
.deal_info_mobilelabel_30 {
	text-decoration: none; font-weight: normal; font-style: italic; color: #d6cfcf; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilefooter */
.deal_info_mobilefooter {
	min-height:38px;
}
/* panel_2 */
.deal_info_panel_2 .ui-panel-inner {
	padding: 15px 15px 15px 15px;
}
.deal_info_panel_2:focus {
	outline: 0;
}
/* mobileimage_3 */
.deal_info_mobileimage_3 {
	margin: 4px 0px 8px 25px;
	width: 203px; height: 191px;
	display: block;
}
/* mobilelabel_20 */
.deal_info_mobilelabel_20 {
	text-decoration: none; font-weight: bold; color: #006400; text-align: center; font-family: Georgia; font-size: 36px;
	margin: 4px 0px 20px 20px;
	word-wrap: break-word;
	white-space: normal;
}
/* Crops */
#deal_info_Crops {

}
.ui-btn.deal_info_Crops {
	margin: 4px 5px 4px 5px;
}
/* Insurance */
#deal_info_Insurance {

}
.ui-btn.deal_info_Insurance {
	margin: 4px 5px 4px 5px;
}
/* Agrotips */
#deal_info_Agrotips {

}
.ui-btn.deal_info_Agrotips {
	margin: 4px 5px 4px 5px;
}